title{ 
			"font_face":"Happy camper",
		  "font_size": 10,
		}
head{
	
}

body 
#Típicos pratos coreanos{
height: 1000px;
    width: 600%;
}

h1 {
    text-align: center;
  
}

p{
   text-align: center;
}

#Tteokbokki{
height: 1000px;
    width: 600%;
}

#Samgyeopsal{
height: 1000px;
    width: 600%;
}

#Kimchi{
height: 1000px;
    width: 600%;
}

#Jjajjangmyun{
height: 1000px;
    width: 600%;
}

#Kimbap{
height: 1000px;
    width: 600%;
}